.header {
  background-color: rgba(0, 0, 0, 0.19);
  font-family: helvetica, arial, sans-serif;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.header .logo {
  padding: 12px 0 12px 20px;
}
.header .logo a img {
  width: 150px;
  height: 49px;
}
.header .menu ul {
  margin: 0;
  padding: 0;
}
.header .menu ul li {
  display: inline-block;
  list-style: none;
}
.header .menu ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 30px 20px;
}
.header .menu ul li ul.submenu {
  background-color: #4B79A1;
  display: none;
  position: absolute;
  width: 150px;
  -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.05);
}
.header .menu ul li ul.submenu li {
  display: block;
  width: 100%;
}
.header .menu ul li ul.submenu li a {
  color: #fff;
  line-height: 25px;
  padding: 10px 27px;
}
.header .menu ul li ul.submenu li a:hover {
  color: #fff;
  background-color: #000;
}
.header .menu ul li:hover {
  color: #fff;
  background: #4B79A1;
}
.header .menu ul li:hover ul.submenu {
  display: block;
}
.header .menu ul li i.icon-arrow {
  display: none;
}
@media screen and (max-width: 767px) {
  .header nav.menu ul {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    margin-left: -1000px;
    z-index: 1;
    background-color: #4B79A1;
    -moz-box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);
  }
  .header nav.menu.active {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
  }
  .header nav.menu.active ul {
    margin-left: 0;
    -moz-transition: margin-left 0.25s;
    -o-transition: margin-left 0.25s;
    -webkit-transition: margin-left 0.25s;
    transition: margin-left 0.25s;
    width: 75vw;
    overflow-y: scroll;
  }
  .header nav.menu.active ul li {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .header nav.menu.active ul li:hover .submenu {
    display: none;
  }
  .header nav.menu.active ul li a {
    width: 100%;
  }
  .header nav.menu.active ul li a:hover {
    background: #5aaed5;
  }
  .header nav.menu.active ul li .flexbox-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .header nav.menu.active ul li .flexbox-container a {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  .header nav.menu.active ul li .flexbox-container i.icon-arrow {
    display: inline-block;
    height: 76px;
    width: 76px;
    padding: 30px 29px;
    text-align: center;
    cursor: pointer;
  }
  .header nav.menu.active ul li .flexbox-container i.icon-arrow:hover {
    background: #5aaed5;
  }
  .header nav.menu.active ul li .flexbox-container i.icon-arrow svg {
    height: 18px;
    width: 15px;
  }
  .header nav.menu.active ul li .submenu {
    max-height: 0;
    overflow: hidden;
    box-shadow: none;
  }
  .header nav.menu.active ul li.showSubmenu .submenu {
    max-height: 1000px;
    width: 100%;
    position: relative;
    display: block;
    overflow: inherit;
    background-color: #5aaed5;
  }
  .header nav.menu.active ul li.showSubmenu .submenu .subOption {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: none;
  }
  .header nav.menu.active ul li.showSubmenu .submenu .subOption a {
    padding: 15px 40px;
  }
  .header nav.menu.active ul li.showSubmenu .submenu .subOption a:hover {
    background: #4B79A1;
  }
  .header nav.menu.active ul li.showSubmenu i.icon-arrow {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .header nav.menu .hamburger {
    display: inline-block;
    position: absolute;
    top: 22px;
    right: 10px;
    padding: 12px 25px;
    color: #fff;
    cursor: pointer;
    z-index: 2;
  }
  .header nav.menu .hamburger span,
  .header nav.menu .hamburger span:before,
  .header nav.menu .hamburger span:after {
    left: 0;
    border-radius: 2px;
    height: 6px;
    width: 40px;
    background: #fff;
    position: absolute;
    display: block;
    content: '';
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .header nav.menu .hamburger span:before {
    top: -14px;
  }
  .header nav.menu .hamburger span:after {
    bottom: -14px;
  }
  .header nav.menu .hamburger.active span {
    background-color: transparent;
  }
  .header nav.menu .hamburger.active span:before, .header nav.menu .hamburger.active.active span:after {
    top: 0;
  }
  .header nav.menu .hamburger.active span:before {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .header nav.menu .hamburger.active span:after {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.dimmer {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}
.dimmer.active {
  display: block;
}

.no-scrolling {
  overflow: hidden;
  position: fixed;
}

body {
  background: rgba(0, 0, 0, 0.19);;
}

* {
  box-sizing: border-box;
}
